@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    ---font-principal: 'Inter', sans-serif;
    ---black: #0f0f0f;
    ---green-1: #33DB57;
    ---green-2: #22be44;
    ---green-3: #00804A;
    ---gray-1: #fff;
    ---gray-2: #f0eeee;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(---font-principal);
    box-sizing: border-box;
    color: var(---black);
    -webkit-font-smoothing: antialiased;
}
#logo{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}
#logo:hover{
    color: var(---green-1);
}
#logo img{
    width: 100%;
    max-width: 85px;
    padding: 0;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#menu{
    display: flex;
    align-items: center;
    gap: .9rem;
    list-style: none;
}
#menu a{
    text-decoration: none;
    padding: .5rem;
    transition: .1s;
}
#menu a:hover{
    color: var(---green-1);
    border-bottom: 1px solid;
}
.slider{
    margin: 0 auto;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.slides{
    display: flex;
    width: 400%;
    height: 400px;
}
.slides input{
    display: none;
}
.slides-images img{
    width: 100%;
    overflow: hidden;
}
.slides-images{
    width: 25%;
    position: relative;
    transition: .2s;
}
#radio:checked ~ .first{
    margin-left: -10%;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
#btn-mobile{
    display: none;
}
.content{
    padding: 1.5rem;
    background-color: var(---gray-2);
}
.introduction-top, .introduction-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: .5rem;
    padding: 2rem;
    margin-block-end: 2rem;
    background-color: var(---gray-1);
    max-width: 800px;
    border-radius: 8px;
}
.introduction-top p, .introduction-products p{
    max-width: 800px;
}
.introduction-top span, .introduction-products span{
    color: var(---green-3);
}
.about-games h1{
    text-align: center;
}
.game{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: .5rem;
    margin-top: .9rem;
    padding: .4rem;
    max-width: 800px;
    background-color: var(---gray-1);
    border-radius: 8px;
}
.game img{
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
}
.introduction.game{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-left: .3rem;
    max-width: 600px;
}
#game{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    padding: 13px 58px;
    background-color: var(---green-3);
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: .2s;
    color: var(---gray-1);
    text-decoration: none;
    margin-top: .8rem;
}
#game:hover,
#game:active{
    background-color: var(---green-2);
    cursor: pointer;
} 
.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 1.2rem;
    background-color: var(---gray-1);
}
@media(max-width: 690px){
    #menu{
        display: none;
    }
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 64px;
        right: 0;
        background: var(---gray-1);
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 64px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        display: flex;
        margin-top: 1rem;
        margin-block-end: .8rem;
        font-size: 1.2rem;
        border-bottom: 2px solid var(---gray-2);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        border-top: 2px solid var(---black);
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: var(---black);
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer:after{
        transform: rotate(-135deg);
        top: -7px;
    }
    .game{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .slider img{
        height: 400px;
    }
}