@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    ---font-principal: 'Inter', sans-serif;
    ---black: #0f0f0f;
    ---green: #33DB57;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(---font-principal);
    box-sizing: border-box;
    color: var(---black);
    -webkit-font-smoothing: antialiased;
}
#logo{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}
#logo:hover{
    color: var(---green);
}
#logo img{
    width: 100%;
    max-width: 85px;
    padding: 0;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#menu{
    display: flex;
    align-items: center;
    gap: .9rem;
    list-style: none;
}
#menu a{
    text-decoration: none;
    padding: .5rem;
    transition: .1s;
}
#menu a:hover{
    color: var(---green);
    border-bottom: 1px solid;
}
.slider{
    margin: 0 auto;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.slides{
    display: flex;
    width: 400%;
    height: 400px;
}
.slides input{
    display: none;
}
.slides-images img{
    width: 100%;
    overflow: hidden;
}
.slides-images{
    width: 25%;
    position: relative;
    transition: .2s;
}
.manual-navigation{
    position: absolute;
    top: 43%;
    left: 48%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s;
}
.manual-btn:hover{
    background-color: #fff
}
#radio:checked ~ .first{
    margin-left: -10%;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s;
}
.navigation-auto{
    position: absolute;
    top: 43%;
    left: 48%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}
#btn-mobile{
    display: none;
}
.content{
    padding: 2rem;
}
.introduction-top, .introduction-products{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: .5rem;
    margin-block-end: 2rem;
}
.game{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    margin-block-end: 2rem;
}
.game img{
    margin-top: 1rem;
    width: 350px;
    border-radius: 10px;
}
.introduction.game{
    display: block;
    padding: 1rem;
}
.introduction.game h3{
    margin-block-end: .5rem;
}
@media(max-width: 600px){
    .navigation-auto, .manual-navigation{
        display: none;
    }
    #menu{
        display: none;
    }
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 64px;
        right: 0;
        background: #fff;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 64px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        display: flex;
        margin-top: 1rem;
        margin-block-end: .8rem;
        font-size: 1.4rem;
        border-bottom: 2px solid #26993f;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        border-top: 2px solid #33DB57;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: #33DB57;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer:after{
        transform: rotate(-135deg);
        top: -7px;
    }
}