@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    ---font-principal: 'Inter', sans-serif;
    ---black: #000;
    ---green: #33DB57;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(---font-principal);
    box-sizing: border-box;
}
#logo{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(---black);
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}
#logo:hover{
    color: var(---green);
}
#logo img{
    width: 100%;
    max-width: 85px;
    padding: 0;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
#menu{
    display: flex;
    align-items: center;
    gap: .9rem;
    list-style: none;
}
#menu a{
    text-decoration: none;
    color: var(---black);
    padding: .5rem;
    transition: .1s;
}
#menu a:hover{
    color: var(---green);
    border-bottom: 1px solid;
}
.slider{
    margin: 0 auto;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.slides{
    display: flex;
    width: 400%;
    height: 400px;
}
.slides input{
    display: none;
}
.slides-images{
    width: 25%;
    position: relative;
    transition: .2s;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    left: 28%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s;
}
.manual-btn:hover{
    background-color: #fff
}
#radio:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    left: 28%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}